#      DATA
      SPRING_DATASOURCE_URL=jdbc:postgresql://ххх.ххх.ххх.ххх:PORT/DBNAME
      SPRING_DATASOURCE_USERNAME=USERNAME
      SPRING_DATASOURCE_PASSWORD=PASSWORD
      PGPASSWORD=PGPASSWORD
      SPRING_DATASOURCE_DB=DBNAME
#      DOCKER
      DOCKER_DATASOURCE_URL=jdbc:postgresql://host.docker.internal:PORT/DBNAME
      DOCKER_DATASOURCE_USERNAME=USERNAME
      DOCKER_DATASOURCE_PASSWORD=PASSWORD
      DOCKER_DATASOURCE_DB=DBNAME
#      PORTS
      POSTGRES_EXTERNAL_PORT=PORT
      REDIS_EXTERNAL_PORT=PORT
      APP_EXTERNAL_PORT=PORT
#      INFRA VER
      REDIS_VERSION=x.y.z
      POSTGRES_VERSION=x