      SPRING_DATASOURCE_URL=jdbc:postgresql://ххх.ххх.ххх.ххх:PORT/DBNAME
      SPRING_DATASOURCE_USERNAME=USERNAME
      SPRING_DATASOURCE_PASSWORD=PASSWORD
      SPRING_DATASOURCE_DB=DBNAME
      PGPASSWORD=PGPASSWORD
      REDIS_VERSION=x.y.z
      POSTGRES_VERSION=x